body, html {
	font-family: 'Pangolin', cursive;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
.img1{
  background-position: center;
}
